obj
bin
deploy
deploy/*
packages
packages/*
_ReSharper.*
_NCrunch_*
*.ncrunchproject
*.ncrunchsolution
*.csproj.user
*.resharper.user
*.ReSharper.user
*.teamcity.user
*.TeamCity.user
*.resharper
*.DotSettings.user
*.dotsettings.user
*.suo
*.cache
~$*